.root {
    composes: relative from global;
}

.rootIdle {
    composes: root;
    composes: cursor-pointer from global;
}

.button {
    @apply hover:bg-[#ecedef];
    composes: bg-white from global;
    composes: rounded-[3px] from global;
    composes: shadow from global;
}

.preview {
    composes: bg-white from global;
    composes: p-[8px] from global;
    composes: rounded-[3px] from global;
}

.indicator {
    composes: block w-[8px] h-[8px] rounded-full from global;
}

